<launch>

  <include file="$(find openni_launch)/launch/openni.launch">
  </include>

  <node name="serial_node" pkg="rosserial_python" type="serial_node.py"/>
  <node pkg="explorer" name="EKF" type="EKF"/>
  <node pkg="explorer" name="controller" type="controller" output="screen"/>
  <node pkg="color_filter" name="color_filter" type="color_filter" output="screen" args="1"/>
  <node pkg="object_recognition" name="recognition" type="object_recognition" output="screen"/>
  <node pkg="obj_detection" name="recogntion_master" type="recognition_master" output="screen"/>
  <!-- <node pkg="explorer" name="phidgets" type="phidgets" output="screen"/> -->

</launch>
