<launch>

  <include file="$(find openni_launch)/launch/openni.launch">
  </include>

  <node name="serial_node" pkg="rosserial_python" type="serial_node.py"/>
  <node pkg="explorer" name="motors" type="motors"/>
  <node pkg="explorer" name="EKF" type="EKF"/>
  <node pkg="explorer" name="controller" type="controller" output="screen"/>
  <node pkg="robot_talk" name="robot_talk" type="robot_talk"/>
  <!-- <node pkg="explorer" name="phidgets" type="phidgets" output="screen"/> -->

</launch>
