<launch>

 <!-- Include official launch file and specify camera_info urls -->
 <include file="$(find openni_launch)/launch/openni.launch">
   <!-- provide arguments to that launch file -->
   <arg name="rgb_camera_info_url"
        value="file:///home/robo/.ros/camera_info/rgb.yaml" />
   <arg name="depth_camera_info_url"
        value="file:///home/robo/.ros/camera_info/depth.yaml" />
 </include>

</launch>
