<launch>

  <node name="serial_node" pkg="rosserial_python" type="serial_node.py"/>
  <node pkg="robot" name="odometry" type="odometry"/>
  <node pkg="robot" name="motors" type="motors"/>
  <node pkg="rviz" name="plot" type="rviz"/>
  <node pkg="robot" name="keyboard" type="keyboard" output="screen"/>

</launch>
